<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CrSeedSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="CrSeedSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://maullin.sii.cl/DTEWS/CrSeed.jws"
                binding="basicHttpBinding"
                bindingConfiguration="CrSeedSoapBinding"
                contract="Sii.Auth.CrSeed"
                behaviorConfiguration="clientInspectorsAdded"
                name="CrSeed" />
      <!--<endpoint address="https://maullin.sii.cl/DTEWS/CrSeed.jws"
                binding="basicHttpBinding"
                bindingConfiguration="CrSeedSoapBinding"
                contract="Sii.Auth.CrSeed"
                name="CrSeed" />-->
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="myEndpointBehavior"
             type="FacturaElectronicaSii.Extensions.SimpleBehaviorExtensionElement, FacturaElectronicaSii" />
        <add
          name="simpleClientBehaviorExtension"
          type="FacturaElectronicaSii.Extensions.SimpleClientBehaviorExtensionElement, FacturaElectronicaSii"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientInspectorsAdded">
          <simpleClientBehaviorExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
