<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CrSeedSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="CrSeedSoapBinding1" />
        <binding name="CrSeedSoapBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="CrSeedSoapBinding3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://maullin.sii.cl/DTEWS/CrSeed.jws" binding="basicHttpBinding"
        bindingConfiguration="CrSeedSoapBinding" contract="Sii.Auth.CrSeed"
        name="CrSeed" />
      <endpoint address="https://maullin.sii.cl/DTEWS/CrSeed.jws" binding="basicHttpBinding"
        bindingConfiguration="CrSeedSoapBinding2" contract="Sii.Authentication.CrSeed"
        name="CrSeed1" />
    </client>
  </system.serviceModel>
</configuration>
